# All apps work without these values by using fixtures.
FIRMS_MAP_KEY=TODO(me)
OPEN_METEO_COMMERCIAL_PLAN=false
SEC_USER_AGENT="InsuranceMonitor/1.0 contact=TODO(me)"
INDIA_MCA_API_KEY=TODO(me)
INDIA_MCA_RESOURCE_ID=TODO(me)
COMMERCIAL_GEOCODER_URL=TODO(me)
COMMERCIAL_GEOCODER_KEY=TODO(me)
ACLED_API_KEY=TODO(me)
OPEN_SANCTIONS_API_KEY=TODO(me)
OPEN_CORPORATES_API_KEY=TODO(me)
AISSTREAM_API_KEY=TODO(me)
OPENSKY_CLIENT_ID=TODO(me)
OPENSKY_CLIENT_SECRET=TODO(me)
STRIPE_SECRET_KEY=TODO(me)
STRIPE_PRICE_ID=TODO(me)
STRIPE_WEBHOOK_SECRET=TODO(me)
AUTH_SECRET=change-me-in-production
DATABASE_URL=file:./data/insurance-monitor.db
NEXT_PUBLIC_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
